*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: aqua;
  border: solid 1px black;
  min-height: 50px;
  width: 100%;
}

.d-flex{
  display: flex;
}

.justify-content-between{
  justify-content: space-between;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

.row{
  display: flex;
  width: 100%;
}

.col{
  width: 100%;
}

/* HEADER */

header .row{
  justify-content: space-between;
  flex-direction: row;
}

header .row .menu{
  display: none;
}

/* MAIN */
.intro .row{
  flex-wrap: wrap;
}

.intro .col:first-child .row{
  flex-direction: column;
}

.planning .row{
  flex-direction: column;
}



/* RESPONSIVE */

@media screen and (min-width: 768px) {
  .intro .col{
    width: calc(100% / 3);
  }  

  .intro .col:first-child{
    width: 66.6666666%;
  }

  header .row .menu{
    display: block;
  }  

  header .row .hamburger{
    display: none;
  }

  .planning .row
  .testimonials .row
  .benefits .row
  .about .row{
    flex-direction: row;
  }

  .testimonials .row .col:first-child{
    width: 220px;
  }

  .benefits .col{
    width: 50%;
  }

  .about .col:last-child{
    width: 250px;
  } 
}

@media screen and (min-width: 992px) {
  .intro .col:first-child .row{
    flex-direction: row;
  }

  .benefits .col{
    width: calc(100% / 3);
  }

}