/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-col: #0084fd;
  --primary-col-light: #b5ddff;
  --secondary-col: #9792e4;
  --secondary-col-light: #d5d4f4;
  --tex-col: #111;
  --white-col: #fff;
  --dark-gray: #333;
}


html{
  scroll-behavior: smooth;
}


body{
  font-family: 'PT Sans', sans-serif;
  color: var(--text-col);
  background: var(--white-col);
}


section{
  scroll-margin-top: 75px;
}


p{
  line-height: 1.7;
}


img{
  max-width: 100%;
}


.container{
  max-width: 600px;
  margin: 0 auto;
}


/* UTILITY */


.flex{
  display: flex;
}


.spacebetween{
  justify-content: space-between;
}


.align-center{
  align-items: center;
}


/* TXT */


.text-center{
  text-align: center;
}


.white-text{
  color: var(--white-col);
}


.accent-text{
  color: var(--secondary-col);
}


.section-title{
  font-size: 2.25rem;
  margin-bottom: 2rem;
}


/* BORDERS */


.rounded{
  border-radius: 20px;
}


.rounded-big{
  border-radius: 50px;
}


.rounded-50{
  border-radius: 50%;
}


/* UI */


.btn{
  appearance: none;
  display: inline-block;
  text-decoration: none;
  padding: 0.6rem 3rem 0.7rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: var(--tex-col);
  background: var(--white-col);
  border: none;
  cursor: pointer;
}


.btn.small{
  padding: 0.45rem 1rem;
  font-weight: 400;
  letter-spacing: 0;
}


.btn.big{
  padding: 1.2rem 4.5rem 1.3rem;
  font-size: 1.125rem;
}


.btn.small .btn-icon{
  margin-right: 0.5rem;
}


.btn.primary{
  background: var(--primary-col);
  color: var(--white-col);
}


.btn.accent{
  background-color: var(--secondary-col);
  color: var(--white-col);
}


.card{
  padding: 2rem;
  color: var(--tex-col);
  background: var(--white-col);
}


/* HEADER */


.site-header{
  position: fixed;
  top: 0px;
  z-index: 10;
  margin-bottom: 50px;
  padding: 1rem 2rem;
  background: var(--primary-col);
  width: 100%;
}


.site-header .hamburger{
  font-size: 1.5rem;
}


.site-header .main-menu{
  display: none;
}


/* INTRO */


#intro{
  padding: 0 2rem;
  margin-top: 150px;
}


#intro .card{
  margin-bottom: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: var(--primary-col-light);
}

/* RESPONSIVE */

/* TABLET */
@media all and (min-width: 768px){
  .container{
    max-width: 750px;
  }


  .section-title{
    font-size: 2.75rem;
  }


  .btn.big{
    padding: 1.6rem 5rem 1.7rem;
    font-size: 1.25rem;
  }


  #intro .cards{
    flex-wrap: wrap;
    margin-left: -.75rem;
    margin-right: -.75rem;
  }


  #intro .card{
    width: calc(33.333% -1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding: 2rem 1.5rem;
    font-size: 1.125rem;
  }


  #intro .card:first-child{
    width: calc(66.666% - 1.5rem);
  }
}


/* DESKTOP */


@media all and (min-width: 992px){
  .container{
    max-width: 940px;
  }


  .section-title{
    font-size: 3rem;
  }


  .site-header .hamburger{
    display: none;
  }


  .site-header .main-menu{
    display: block;
  }


  .site-header .main-menu li{
    list-style: none;
    margin-left: 2rem;
  }


  .site-header .main-menu a{
    text-decoration: none;
    font-size: 1.125rem;
  }

  #intro .card:first-child{
    display: flex;
  }

  #intro .card:first-child > * {
    width: 50%;
  }

  #intro .card:first-child .image{
    align-self: flex-end;
    margin: 2rem auto 0;
  }
}
