* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .debug{
  background-color: rgba(0, 0, 255, .2);
  border: 1px solid black;
  min-height: 50px;
} */

.container{
  max-width: 1140px;
  margin: 0 auto;
}

.row{
  display: flex;
}

.col{
  width: 100%;
}

:root{
  --main-font: 'PT Sans', sans-serif;
  --sky-blue: #0084fd;
  --white: #ffffff;
  --light-blue: #b5ddff;
  --violet: #9792e4;
  --orange: #fdc15f;
  --dark-grey: #333333;
}

/* HEADER */

header .row{
  min-height: 77px;
  background-color: var(--sky-blue);
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  color: var(--white);
}

header .row .menu{
  display: none;
}

header .row .col .hamburger{

  align-items: flex-end;
}



/* MAIN */
.intro .row{
  flex-wrap: wrap;
}

.intro .col:first-child .row,
.planning .row,
.testimonials .row,
.benefits .row,
.about .row
{
  flex-direction: column;
}

.benefits .row{
  flex-wrap: wrap;
}

/* INTO */

.intro .row .col{
  background-color: var(--light-blue);
  margin-right: 33px;
  margin-left: 33px;
  margin-top: 25px;
  padding-top: 33px;
  border-radius: 30px;
}

.intro .row .col h3{
  text-align: center;
  color: var(--sky-blue);
  font-size: 3rem;
}

.intro .row .col p{
  text-align: center;
  pad
}



/* RESPONSIVE AREA */


@media screen and (min-width:768px) {

  header .row .menu{
      display: block;
  }

  header .row .hamburger{
      display: none;
  }

  .intro .col{
      width: calc(100% / 3);
  }
  
  .intro .col:first-child{
      width: 66.6666%;
  }

  .planning .row,
  .benefits .row,
  .about .row,
  .testimonials .row{
      flex-direction: row;
  }

  .testimonials .row .col:first-child{
      width: 220px;
  }

  .benefits .col{
      width: 50%;
  }

  .about .col:last-child{
      width: 250px;
  }

}

@media screen and (min-width:992px){
  .intro .col:first-child .row{
      flex-direction: row;
  }
  .benefits .col{
      width: calc(100% / 3);
  }
}